.thumbnails img,
.img-placeholder {
    height: 100px;
    padding-bottom: 1em;
}

.thumbnails .fa {
    font-size: 100px;
    padding-top: 6px;
    padding-bottom: 12px;
}

.thumbnails a {
    position: relative;
    color: white;
}
