//helpers
@import "./helpers/variables";

@import "./helpers/bootstrap";

:root {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

body {
  margin: 0;
}

@media print {
  :root {
    color: black;
    background-color: white;
  }
}
