.wrapper {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #333;
  background-color: #fff;
}

h1.title {
  font-size: 56px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  text-transform: lowercase;
  line-height: 40px;
  margin: 12.5px 0;
  font-family: "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP",
    sans-serif;
  font-weight: 100;
  color: inherit;
  text-rendering: optimizelegibility;
}

h2.subTitle {
  font-size: 28px;
  margin: 0;
  text-transform: lowercase;
  line-height: 40px;
  font-family: "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP",
    sans-serif;
  font-weight: 100;
  color: inherit;
  text-rendering: optimizelegibility;
}

h3.tileText {
  font-size: 1.75em;
  text-transform: lowercase;
  line-height: 40px;
  margin: 0;
  font-family: "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP",
    sans-serif;
  font-weight: 100;
  text-rendering: optimizelegibility;
}

p.introText {
  margin: 0 0 12.5px;
}

.tile {
  display: inline-block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@mixin tileWidth($colspan) {
  width: $colspan * 125 + ($colspan - 1) * 16px;
}

@for $colspan from 1 through 3 {
  .tile-#{$colspan} {
    @extend .tile;

    @include tileWidth($colspan);
  }
}

@mixin tileColors($color) {
  background-color: $color;

  &:hover {
    background-color: darken($color, 2%);
  }
}

@mixin tile($colspan, $color) {
  @extend .tile;
  @include tileWidth($colspan);
  @include tileColors($color);
}

.blogTile {
  @include tile(1, purple);
}

.datetimeTile {
  @include tile(3, teal);
}

.resumeTile {
  @include tile(1, #e15227);
}

.linkedinTile {
  @include tile(1, #0e76a8);
}

.githubTile {
  @include tile(1, #4183c4);
}

.twitterTile {
  @include tile(1, #00a0d1);
}
