.resume {
  font-size: 14.4px;
  font-family: "Helvetica Neue", Arial;
  margin-left: auto;
  margin-right: auto;

  @media print, (min-width: 800px) {
    width: 8in;
  }

  br {
    clear: both;
  }
}

a.link {
  color: #f8f9fa;

  &:hover,
  &:focus {
    color: white;
  }
}

@media print {
  a.link {
    color: #343a40;

    &:hover,
    &:focus {
      color: black;
    }
  }
}

div.name {
  font-size: 3em;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  padding: 0;
}

div.contact {
  margin: 0;
  padding: 0;

  @media (max-width: 799px) {
    font-size: 1.2em;
    margin-top: 1em;
  }

  @media print, (min-width: 800px) {
    font-size: 1em;
    margin-top: 0;
    display: inline-block;
    float: right;
    text-align: right;
  }
}

h2.contentGroupLabel {
  @media (max-width: 799px) {
    margin-top: 0.7em;
    padding-top: 0.7em;
    font-size: 1.8em;
    margin-bottom: 0;

    border-top: 1px solid #dee2e6;

    float: none;
  }

  @media print, (min-width: 800px) {
    padding-top: 0;
    margin-bottom: 0;

    border-top: none;

    float: left;
    clear: left;

    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    width: 1.3in;
  }
}

div.contentGroupContent {
  margin-top: 10px;
  float: left;
  clear: right;

  @media (max-width: 799px) {
    float: none;
    clear: none;
  }

  @media print, (min-width: 800px) {
    width: 6.7in;
    float: left;
    clear: right;
  }
}

div.employment,
div.education {
  padding-bottom: 0.25em;
}

span.educationDegrees {
  padding-left: 1.5em;
}

h3.companyName {
  margin: 0;
  padding: 0;
  display: inline-block;

  @media (max-width: 799px) {
    font-size: 1.3em;
    margin-top: 0.3em;
  }

  @media print, (min-width: 800px) {
    font-size: 1em;
    margin: 0;
  }
}

h3.position {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-style: italic;

  @media (max-width: 799px) {
    font-size: 1.3em;
    margin-bottom: 0.3em;
    margin-left: 0.6em;
  }

  @media print, (min-width: 800px) {
    font-size: 1em;
    margin: 0;
  }
}

span.location {
  @media (max-width: 799px) {
    display: inline;

    &:before {
      content: ", ";
    }
  }

  @media print, (min-width: 800px) {
    float: right;

    &:before {
      content: "";
    }
  }
}

span.dates {
  @media (max-width: 799px) {
    display: inline;

    &:before {
      content: ", ";
    }
  }

  @media print, (min-width: 800px) {
    float: right;

    &:before {
      content: "";
    }
  }
}

ul.details {
  margin-left: 1.4em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.6em;
  padding: 0;
  text-align: left;
  white-space: normal;
}

li.detail {
  margin: 0;
  padding: 0;
}
