<div class="resume">
  <title>Resume for Nate Radebaugh</title>

  <div>
    <div class="name">Nate Radebaugh</div>
    <div class="contact">
      530-628-3723 (mobile)
      <br />
      nate.radebaugh&#64;outlook.com
      <br />
      <a routerLink="/">www.naterad.com</a>
    </div>
  </div>

  <app-content-group label="Skills:">
    <strong>Front Ends</strong> &ndash; React, Angular, JQuery, HTML, CSS.
    Bootstrap.
    <br />
    <strong>Back Ends</strong> &ndash; C# (MVC, API), Java (Spring Boot), SQL,
    PHP, C/C++.
    <br />
    <strong>Cloud Services</strong> &ndash; Azure, GitHub, AWS, Atlassin,
    Vercel.
    <br />
    <strong>Methodologies</strong> &ndash; Agile, Waterfall, or anywhere between
    &ndash; I&rsquo;m flexible!
  </app-content-group>

  <app-content-group label="Experience:">
    <app-employment
      position="Experienced Manager"
      group="Software Development"
      dates="August 2023 - Present"
      company="BDO Digital"
      location="(Remote) Oak Brook, IL"
      [details]="[
        'Solution Architect'
      ]"
    />
    <app-employment
      position="Manager"
      group="Software Development"
      dates="August 2021 - August 2023"
      company="BDO Digital"
      location="(Remote) Oak Brook, IL"
      [details]="[
        'App Frameworks focus area leader.',
        'Front End Technologies community leader.',
        'Solution architect/lead on multiple projects, writing technical docs, delegating tasks, and solving hard problems in variety of frameworks including Angular, React, and .NET Core 8.'
      ]"
    />
    <app-employment
      position="Experienced Senior Associate"
      group="Software Development"
      dates="November 2020 - August 2021"
      company="BDO Digital"
      location="Oak Brook, IL"
      [details]="[
        'Scope management, budget estimation, release planning and scheduling, and delegation for multiple concurrent custom large-scale enterprise web applications for clients.'
      ]"
    />
    <app-employment
      position="Senior Associate"
      group="Software Development"
      dates="December 2018 - November 2020"
      company="SWC Technology Partners (Aquired by BDO USA as BDO Digital)"
      location="Oak Brook, IL"
      [details]="[
        'Technical lead on C# .NET projects, coordinating technical implementations with more junior developers to successfully deliver quality applications.'
      ]"
    />
    <app-employment
      position="Staff Consultant"
      group="Software Development"
      dates="May 2017 - December 2018"
      company="SWC Technology Partners"
      location="Oak Brook, IL"
      [details]="[
        'Individual contributor using C#, Java, and JQuery/Bootstrap to create enterprise web applications for clients companies.'
      ]"
    />
    <app-employment
      position="Software Development Engineer 2"
      group="Windows System UI"
      dates="December 2015 - May 2017"
      company="Microsoft"
      location="Redmond, WA"
    />
    <app-employment
      position="Software Development Engineer" group="Windows Phone"
      dates="August 2013 - December 2015"
      company="Microsoft"
      location="Redmond, WA"
    />
    <app-employment
      position="Intern"
      group="Windows Phone"
      dates="Summer 2012"
      company="Microsoft"
      location="Redmond, WA"
    />
    <app-employment
      position="Intern"
      dates="Summer 2011"
      company="Qualcomm"
      location="San Diego, CA"
    />
    <app-employment
      position="Senior Software Developer"
      dates="Fall 2010 - Spring 2013"
      company="Purdue University ResNet (Internet Provider)"
      location="West Lafayette, IN"
    />
  </app-content-group>

  <app-content-group label="Education:">
    <app-education
      school="Purdue University"
      location="West Lafayette, IN"
      dates="May 2013"
      degree="B.S."
      major="Computer Science"
      specialization="focus on Software Engineering and Programming Languages"
    />
  </app-content-group>
</div>
