:root {
  color: #212121;
  background-color: #f8f9fa;
}

body {
  margin: 0;
}

[data-theme="dark"] {
  color: #f8f9fa;
  background-color: #212121;
}

@media print {
  :root {
    color: #212121;
    background-color: #f8f9fa;
  }
}
