$body-bg: #212121;
$body-color: #f8f9fa;

$link-color: rgb(102, 184, 255);
$code-color: #f8f9fa;

@import "~@reach/skip-nav/styles.css";
@import "~bootstrap/scss/bootstrap.scss";

:root {
  color: $body-color;
  background-color: $body-bg;
}

body {
  margin: 0;
}

@media print {
  :root {
    color: $body-bg;
    background-color: $body-color;
  }
}
