.base {
  font-family: sans-serif;
  margin: 0;

  pre,
  code {
    font-family: monospace;
  }

  &,
  * {
    box-sizing: border-box;
  }
}

.breadcrumb {
  ol {
    margin: 0;
  }

  li,
  span {
    display: inline;
  }
}
